# Data Science Tools and Ecosystem

 In this Notebook, Data Science Tools and Ecosystem are surmarised

**Some of the Languages Data Scientist use are;**

1- Python
2- SQL
3- Java
4- Scala
5- R

Some of the commonly used libraries used by Data Scientists include:

a- Pandas
b- Numpy
c- Matplotlip
d- TensorFlow

| Data Science Tools |
|--------------------|
| Rstudio |
| JupiterLite |
| IBM Watson Studio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

 **Objectives**
 
 List popular languages for Data Science
 
 - Python
 - SQL
 - Scala
 - R

Author 
## Atsimbom Nshom Bradley